<!DOCTYPE html>
<html>

    <head>
        <title>{{ title }}</title>
    </head>

    <body>
        <h1>Mi carrito</h1>

        <a href="/">Página principal</a>
        <a href="/products">Catálogo de juegos</a>

        {{#if user}}
            {{#each user.cart}}
                <h2>{{this.name}}</h2>
                <h3>{{this.price}} €</h3>
            {{/each}}

            <h3>Precio a pagar: {{this.total}} €</h3>
            
        {{/if}}

        <form action="/users/{{user.id}}/cart?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Pagar"></input>
        </form>
        <a href="/users/{{user.id}}/cart"><button>Pagar</button></a>
    </body>
</html>