<!DOCTYPE html>
<html>

    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/shared.css">
    </head>

    <body>
        <h1 class="title">Mi carrito</h1>

        
        <div class="nav">
            <a href="/">Página principal</a>
            <a href="/products">Catálogo de juegos</a>
        </div>

        {{#if user}}
            {{#each user.cart}}
                <h2>{{this.name}}</h2>
                <h3>{{this.price}} €</h3>
            {{/each}}

            <h3>Precio a pagar: {{this.total}} €</h3>
            
        {{/if}}

        <form action="/users/{{user.id}}/cart?_method=DELETE" method="POST">
            <input type="submit" value="Pagar"></input>
        </form>
    </body>
</html>