<!DOCTYPE html>
<html>

    <head>
    <title>{{ title }}</title>
    </head>

    <a href="/products">Volver a página de productos</a>

    <body>
        {{#if this.product}}
            <h1>{{ this.product.name }}</h1>
            <p>{{ this.product.description }}</p>
            <p>{{ this.product.price }}€</p>
            {{#if this.product.image}}
                    <img src="{{this.product.image}}" alt="{{this.product.name}}" width="1000px"></img>
            {{/if}}
            

        <form action="/users/cart" method="POST">
            <input type="hidden" name="id" value="{{this.product.id}}">
            <input type="submit" value="Añadir juego al carrito">
        </form>
        {{/if}}

        <h3>Modificar imagen</h3>
        <form action="products/create" method="POST" enctype="multipart/form-data">
            <input type="submit" value="Crear juego nuevo">
        </form>

    </body>

</html>