<!DOCTYPE html>
<html>

    <head>
        <title>{{ title }}</title>
    </head>

    <body>

        <a href="/">Página principal</a>
        <a href="/products/cart">Carrito</a>

        <form action="/products/search/" method="POST">
            <label for="name">
                <p>Nombre del juego: </p>
                <input type="text" name="name">
            </label>
            <input type="submit" value="Buscar">
        </form>

        <form action="/products/filter/" method="POST">
            <label for="min">
                <p>Precio mínimo: </p>
                <input type="text" name="min">
            </label>
            <label for="max">
                <p>Precio máximo: </p>
                <input type="text" name="max">
            </label>
            <input type="submit" value="Filtrar">
        </form>

        <div>
            {{#each products}}
            <a href="/products/product/{{this.id}}">
                <h2>{{this.name}}</h2>
                <h3>{{this.price}}€</h3>
                {{#if this.image}}
                    <img src="{{this.image}}" alt="{{this.name}}" width="300px"></img>
                {{/if}}
            </a>
            {{/each}}
        </div>

        {{#if previous}}
            <a href="/products/next/{{previous}}">Página anterior</a>
        {{/if}}
        {{#if next}}
            <a href="/products/next/{{next}}">Página siguiente</a>
        {{/if}}

    </body>

</html>