<!DOCTYPE html>
<html>

    <head>
    <title>{{ title }}</title>
    </head>

    <body>
        {{#if this.product}}
            <h1>{{ this.product.name }}</h1>
            <p>{{ this.product.description }}</p>
            <p>{{ this.product.price }}€</p>
            {{#if this.product.image}}
                    <img src="{{this.product.image}}" alt="{{this.product.name}}" width="1000px"></img>
            {{/if}}
        {{/if}}

    </body>

</html>